Repository FRONTENDSCHOOL8/dosirak, pull requests merged in 2024-03, with the labels that each got.

#61 Feat/sw lee2973/#52: 비밀번호 변경 및 회원 탈퇴 기능 구현
  public/assets/common/eye-false.svg
  public/assets/common/eye-true.svg
  src/components/atom/common/ToggleButton.jsx
  src/components/atom/mypage/SettingCheckBox.jsx
  src/components/molecule/mypage/AlertSetting.jsx
  src/components/molecule/mypage/EtcSetting.jsx
  src/components/molecule/mypage/ModifyPasswordArea.jsx
  src/components/molecule/register/Form/FormInput.jsx
  src/components/organism/login/LoginForm.jsx
  src/components/organism/mypage/MyPageHeader.jsx
  src/components/organism/mypage/MyPageMain.jsx
  src/components/organism/mypage/MyPageSummary.jsx
  src/components/organism/mypage/PasswordModify.jsx
  src/components/organism/mypage/PasswordModifyForm.jsx
  src/components/organism/mypage/PasswordVerify.jsx
  src/components/organism/mypage/SettingsHeader.jsx
  src/pages/MyPage.jsx
  src/pages/Settings.jsx
  src/routes/navigation.jsx
Labels: enhancement, Pocketbase

#62 Feat/sw lee2973/#2: 스플래쉬 화면 구현
  public/assets/common/splash.gif
  src/components/atom/common/MainMenuList.js
  src/components/atom/common/NoContents.jsx
  src/components/atom/common/Splash.jsx
  src/components/organism/feed/myfeed/MyFeed.jsx
  src/components/organism/login/LoginForm.jsx
  src/components/organism/mypage/ProfileModifyForm.jsx
  src/components/organism/register/RegisterForm.jsx
  src/pages/Login.jsx
  src/pages/Settings.jsx
  src/routes/navigation.jsx
  src/store/useCommonStore.js
Labels: enhancement

#65 Feat/hyun9758/#59: 홈 화면 기능 구현
  package.json
  pnpm-lock.yaml
  src/components/molecule/home/ParticipateBox.jsx
  src/pages/Home.jsx
Labels: Pocketbase, home

#66 Feat/sw lee2973/#63: 피드 최근 검색어 기능 구현
  src/components/atom/group/Tag.jsx
  src/components/molecule/feed/FeedRecentSearchArea.jsx
  src/pages/FeedSearch.jsx
Labels: enhancement, Pocketbase, feed

#69 [Feat] 03/13 lanuioe 모임 가입하기 구현
  src/components/organism/group/GroupListCard.jsx
  src/components/organism/group/GroupParticipate.jsx
  src/components/organism/group/GroupPopularCard.jsx
  src/pages/Group.jsx
  src/pages/GroupFeed.jsx
  src/pages/MyGroup.jsx
Labels: enhancement, Pocketbase, group

#73 이상원 - 구현 기능 및 회고 작성
  README.md
Labels: documentation

#74 [Design] 03/14 lanuioe 홈 디자인 및 접근성 수정
  src/components/molecule/home/HeaderButtonArea.jsx
  src/components/molecule/home/HeaderLogo.jsx
  src/components/molecule/home/ParticipateBox.jsx
  src/components/molecule/home/ParticipateInfo.jsx
  src/components/molecule/home/RecipeBox.jsx
  src/components/organism/home/HomeHeader.jsx
  src/components/organism/home/HomeInfo.jsx
Labels: home, design

#75 Feat/hyun9758/#30: 내 피드 컴포넌트 분리
  src/components/molecule/home/ParticipateBox.jsx
  src/components/molecule/myfeed/MyFeedProfile.jsx
  src/components/molecule/myfeed/MyPostGrid.jsx
  src/components/molecule/myfeed/MyPostNavBar.jsx
  src/components/organism/feed/myfeed/MyFeed.jsx
Labels: documentation, feed

#78 Feat/sw lee2973/#77: 내 피드 디자인 정리
  public/assets/desktop/advertise.svg
  src/components/molecule/common/CafeWhereAdvertise.jsx
  src/components/molecule/myfeed/MyFeedProfile.jsx
  src/components/molecule/myfeed/MyPostGrid.jsx
  src/components/molecule/myfeed/MyPostNavBar.jsx
  src/components/organism/feed/myfeed/MyFeed.jsx
  src/pages/Layout.jsx
  src/store/useCommonStore.js
Labels: feed, design

#80 Feat/sw lee2973/#79: 맨 위로 이동 버튼 추가
  public/assets/common/scrollTop.svg
  src/components/atom/common/ScrollTop.jsx
  src/components/organism/feed/FeedCard.jsx
  src/pages/Feed.jsx
  src/pages/Group.jsx
  src/pages/GroupFeed.jsx
Labels: enhancement, feed, design, group

#82 [Design] 03/14 SWLee2973 피드 구분 선 구현 방법 변경 #79
  src/components/organism/feed/FeedCard.jsx
  src/pages/Feed.jsx
  src/pages/GroupFeed.jsx
Labels: feed, design

#83 디자인 수정 부분 메인 브랜치 적용
  README.md
  src/components/organism/feed/FeedCard.jsx
  src/pages/Feed.jsx
  src/pages/GroupFeed.jsx
Labels: feed, design
